# compiled output
/dist
/tmp
/out-tsc
#/target <- aquí se está generando clas clases provenientes del Web Service por eso lo subiremos tmb al gitHub

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db
